<!DOCTYPE html>
<html>
  <head>
    <title>NamloEvents</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="jquery.raty.css">
    <script src="jquery.raty.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <%= render 'shared/head' %>
  </head>

  <body>


    <% flash.each do |key, value| %>
      <% alert_class = case key
                         when :notice then "success"
                         when :alert then "danger"
                         else key
                       end %>
      <%= content_tag :div, class: "alert alert-#{alert_class}" do %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= value %>
      <% end %>
  <% end %>

    <%= yield %>

  </body>
</html>
