
<div class="container" id="offer_show_container">
  <div class="page-header">
    <h2> Offer Details</h2>
  </div>


  <div class="row" id="features">

    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Your Name :: Here</h3>
        </div><!-- end panel-heading -->
        <%= image_tag( 'missing.png', :alt =>'Default image', :class =>'img-circle') %>
        <p></p>
        <p align="center">"Advertise your self with us. Please contact us for further details"</p>
      </div><!-- end panel -->
    </div><!-- end col-sm-4 -->

    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @offer.name %></h3>
        </div>
        <p></p>

        <%= image_tag(Profile.find_by_user_id(@offer.service_provider.user.id).image.url(:thumb),:alt =>'Profile image', :class =>"img-circle") %>
        <p align="middle"><strong>Offered By: </strong><%= @offer.service_provider.user.first_name %> <%= @offer.service_provider.user.last_name %></p>

        <div id="offer-price-container">
          <p align="middle" id="offer-price">$<%= @offer.price %></p>
          <p align="middle" id="original-price">Original Price: $<%= @offer.original_price %> | Discount: <%= (((@offer.original_price-@offer.price)/@offer.original_price)*100)%>%</p>
        </div>

        <div class="offer_show_details">
          <p align="left"><strong>Offer Details</strong></p>
          <p align="left" style="white-space: pre-line"><%= @offer.details %> </p>
          <p align="left"><strong>Terms & Conditions</strong></p>
          <p align="left" style="white-space: pre-line"><%= @offer.terms_conditions %></p>
          <p align="left"><strong>Offer Expires</strong></p>
          <p align="left"><%= @offer.expires.strftime('%A, %B %e, %Y') %></p>
        </div>

        <%= link_to 'Book Provider with this Offer ', new_booking_path(:service_provider_id => @service_provider.id, :offer_id => @offer.id), :class => 'btn btn-small btn-info' %><br>

        <p></p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Your Name :: Here</h3>
        </div><!-- end panel-heading -->
        <%= image_tag( 'missing.png', :alt =>'Default image', :class =>'img-circle') %>
        <p></p>
        <p align="center">"Advertise your self with us. Please contact us for further details"</p>
      </div><!-- end panel -->
    </div><!-- end col-sm-4 -->

  </div>

</div>


<div class="container">
  <div class="row">
    <div class="page-header">
      <h2> <%= link_to 'Go Back', market_place_index_path, :class => 'btn btn-large btn-info' %></h2>
    </div><!-- end page-header -->
  </div><!-- end row -->
</div><!-- end container -->



