<!--


<p>
  <strong>Income date:</strong>
  <%= @income.income_date %>
</p>

<p>
  <strong>Income source:</strong>
  <%= @income.income_source %>
</p>

<p>
  <strong>Expected amount:</strong>
  <%= @income.expected_amount %>
</p>

<p>
  <strong>Actual amount:</strong>
  <%= @income.actual_amount %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @income.notes %>
</p>

<p>
  <strong>Event:</strong>
  <%= @income.event %>
</p>

<%#= link_to 'Edit', edit_income_path(@income) %>
<%#= link_to 'Back', incomes_path %>
-->
