<% javascript 'jquery.raty' %>

<div class="container" id="reviews_container">
  <div class="page-header">
    <h2> Reviews for <%= @provider_user.first_name %> <%= @provider_user.last_name %></h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3 ">
        <div class="img-thumbnail">
          <%#= image_tag("application/dinesh_dai1.jpg", :alt =>"service provider") %>

          <% if @provider_profile!= nil %>
              <%= image_tag(@provider_profile.image.url(:thumb),:alt =>'Profile image', :class =>"img-square") %>
          <% end %>

        </div>

        <% if @reviews != nil %>

        <div class="star-rating" data-score =  <%= @avg_review %> >

        </div>
        <em><%= "#{@reviews.length} reviews"%></em>
      </div>

      <div class="col-sm-9">
        <div class="list-group">
          <% @reviews.each do |review| %>
              <div class="list-group-item">
                <div class="reviews">
                  <p class="list-group-item-text"><%= review.rating_score %></p>
                <div class="star-rating" data-score= <%= review.rating_score %> >

                </div>

                <h5>- <%=User.find(review.reviewer_id).first_name %> <%=User.find(review.reviewer_id).last_name %> | <%= review.created_at.strftime('%H:%M:%S')  %></h5>
                <p></p>
                <p class="list-group-item-text"><%= review.comments %></p>
                  <br>
                  <p align="middle">

                    <% if can? :update, Review%>
                        <%= link_to 'Edit Review',  edit_service_provider_review_path(review.serviceprovider_id, review), :class => 'btn btn-large btn-warning'%>
                    <% end %>

                    <% if can? :destroy, Review%>
                        <%= link_to 'Destroy Review', service_provider_review_path(review.serviceprovider_id,review), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-large btn-danger' %>
                    <% end %>

                  </p>

                </div>
              </div>
          <% end %>
        </div>
      </div>

     <% else %>
        <h4>Sorry, no reviews have been submitted yet </h4>
     <% end %>

    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="page-header">
      <% if (@provider_user.id == @user.id) && ( @user_host == nil) %>
          <h2> <%= link_to 'Go Back', service_providers_path, :class => 'btn btn-large btn-info' %> </h2>
      <% else %>
          <h2> <%= link_to 'Go Back', service_providers_path, :class => 'btn btn-large btn-info' %>  <%= link_to 'Write Review', new_service_provider_review_path(@provider_user.id), :class => 'btn btn-large btn-info' %> </h2>
      <% end %>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
  $('#star-rating').raty({
    path: '/assets',
    readOnly: true,
    half: true,
    number: 5,
    score: function() {
      return $(this).attr('data-score');
    }
  })});
</script>






