<!--


<p>
  <strong>Expense date:</strong>
  <%= @expense.expense_date %>
</p>

<p>
  <strong>Expense source:</strong>
  <%= @expense.expense_source %>
</p>

<p>
  <strong>Budgeted amount:</strong>
  <%= @expense.budgeted_amount %>
</p>

<p>
  <strong>Actual amount:</strong>
  <%= @expense.actual_amount %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @expense.notes %>
</p>

<p>
  <strong>Event:</strong>
  <%= @expense.event %>
</p>

<%#= link_to 'Edit', edit_expense_path(@expense) %>
<%#= link_to 'Back', expenses_path %>
-->
