
<div class="container" id="menu_container">
  <div class="row">
    <div class="col-sm-5 feature">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Search Event by Host's email</h3>
        </div><!-- end panel-heading -->
        <br />
        <div class="event_search">
          <%= form_tag new_menu_path, :method => 'get' do %>
              <p>
                <%= text_field_tag :search, params[:search],placeholder: 'Enter email', :size => '30' %>
                <%= submit_tag "Search", :name => nil %>
              </p>
          <% end %>
        </div>
        <hr>
        <p>
          <% if (@events == nil || @host == nil) %>
              <% if params[:search]%>
                <p align="center", class="error_message"> Sorry, no events found for host with email: <%= params[:search] %> </p>
            <% end %>

        <% else %>

                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr class="info">
                      <th>Event ID</th>
                      <th>Event Name</th>
                      <th>Event Date</th>
                      <th>Host Name</th>
                      <th colspan="3"></th>
                    </tr>
                    </thead>
                    <% @events.each do |event| %>
                    <tbody>
                    <tr class="success">
                      <td><%= event.id %></td>
                      <td><%= event.event_name %></td>
                      <td><%= event.event_date %></td>
                      <td><%= event.host.user.first_name %> <%= event.host.user.last_name %></td>
                      <td></td>
                    </tr>
                    </tbody>
                    <% end %>
                  </table>
                </div>

        <% end %>
        </p>

      </div><!-- end panel -->
    </div><!-- end col-sm-4 -->

    <div class="col-sm-4">
      <div class="list-group">
        <div class="list-group-item">
          <%= form_for(@menu) do |f| %>
              <% if @menu.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

                    <ul>
                      <% @menu.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>


              <% if @event_options!= nil %>
                  <div class="form-group">
                    <%= f.label :event_id, 'Select Event' %><br>
                    <%= f.select :event_id, options_for_select(@event_options), prompt: 'Select Event ID', id: 'event_select'  %>
                  </div>

              <%end%>


              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class:'form-control' %>
              </div><br>

              <div class="form-group">
                <%= f.label :service_type %>
                <%#= f.text_field :service_type, class:'form-control' %>
                <%= f.select :service_type, options_for_select(Menu::SERVICE_TYPE), prompt: 'Select Food service type', id: 'service_select'  %>

              </div>

              <div class="form-group">
                <%= f.label :require_reservation, 'Require reservation' %><br>
                <%= f.check_box :require_reservation, class:'form-control' %>
              </div>


              <div class="actions" id="submit_button">
                <%= f.submit %>
              </div>
          <% end %>
        </div><!-- end list-group-item -->
      </div><!-- end list-group -->
    </div><!-- end col-sm-4 -->

    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Your Name :: Here</h3>
        </div><!-- end panel-heading -->
        <%#= image_tag( 'missing.png', :alt =>'Default image', :class =>'img-circle') %>
        <p></p>
        <p align="center">"Advertise your self with us. Please contact us for further details"</p>
      </div><!-- end panel -->
    </div><!-- end col-sm-4 -->
  </div><!-- end row -->
</div><!-- end event_order_container -->


<div class="script">

</div>





