<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu_item.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @menu_item.quantity %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @menu_item.menu %>
</p>

<%#= link_to 'Edit', edit_menu_item_path(@menu_item) %>
<%#= link_to 'Back', menu_items_path %>
-->
