<!--


<p>
  <strong>First name:</strong>
  <%= @guest_list.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @guest_list.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guest_list.email %>
</p>

<p>
  <strong>Total attendees expected:</strong>
  <%= @guest_list.total_attendees_expected %>
</p>

<p>
  <strong>Seating arangement:</strong>
  <%= @guest_list.seating_arangement %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @guest_list.notes %>
</p>

<p>
  <strong>Event:</strong>
  <%= @guest_list.event %>
</p>

<%#= link_to 'Edit', edit_guest_list_path(@guest_list) %> |
<%#= link_to 'Back', guest_lists_path %>
-->
