

<p>
  <strong>Todo item:</strong>
  <%= @to_do_item.todo_item %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @to_do_item.completed_at %>
</p>

<p>
  <strong>To do list:</strong>
  <%= @to_do_item.to_do_list %>
</p>

<%= link_to 'Edit', edit_to_do_item_path(@to_do_item) %> |
<%= link_to 'Back', to_do_items_path %>
