<div class="container" id="confirmation_container">
  <div class="page-header">
    <h2>Didn't receive confirmation instructions ? We are happy to resend them</h2>
  </div><!-- end page-header -->

  <div class="row">
    <div class="col-sm-4 feature">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Cinematographer :: Arjun</h3>
        </div><!-- end panel-heading -->
        <%= image_tag("application/arjun_dai.jpg", :alt =>"Wedding Event", :class =>"img-circle") %>
        <p></p>
        <p align="center">"With today's technology anyone can point and shoot a video. But, the true magic of cinema can only be delivered by professional cinematographer"</p>
      </div><!-- end panel -->
    </div><!-- end col-sm-4 -->

    <div class="col-sm-4">
      <div class="list-group">
        <div class="list-group-item">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <div class="error_message">
              <%= devise_error_messages! %>
            </div>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
            </div><br />

            <div class="actions">
              <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div><!-- end list-group-item -->
      </div><!-- end list-group -->
    </div><!-- end col-sm-4 -->

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Photographer :: Bikrant</h3>
        </div><!-- end panel-heading -->
        <%= image_tag("application/bikrant.jpg", :alt =>"Wedding Event", :class =>"img-circle") %>
        <p></p>
        <p align="center">"Photos are windows to past. Make every moments of your past memorable by hiring the right photographer"</p>
      </div><!-- end panel -->
    </div><!-- end col-sm-4 -->
  </div><!-- end row -->
</div><!-- end confirmation_container -->


