
<div class="container" id="profile_container">
  <div class="row">
    <div class="col-sm-4 feature">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Cinematographer :: Bishal</h3>
        </div><!-- end panel-heading -->
        <%= image_tag("application/bishal-200x200.jpg", :alt =>"Wedding Event", :class =>"img-circle") %>
        <p></p>
        <p align="center">"With today's technology anyone can point and shoot a video. But, the true magic of cinema can only be delivered by professional cinematographer"</p>
      </div><!-- end panel -->
    </div><!-- end col-sm-4 -->

    <div class="col-sm-4">
      <div class="list-group">
        <div class="list-group-item">

          <%= form_for [@service_provider,@portfolio],html: {multipart: true} do |f| %>
              <% if @portfolio.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

                    <ul>
                      <% @portfolio.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="form-group">
                <%= f.label :tag_line %>
                <%= f.text_field :tag_line, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :bio %>
                <%= f.text_area :bio, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :website %>
                <%= f.text_field :website, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :work_experience %>
                <%= f.text_area :work_experience, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :achievements %>
                <%= f.text_area :achievements, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :area_of_expertise %>
                <%= f.text_area :area_of_expertise, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :services_offered %>
                <%= f.text_area :services_offered, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :works_projects %>
                <%= f.text_area :works_projects, class: 'form-control' %>
              </div>

              <div class="hidden">
                <%= hidden_field_tag 'service_provider_id', @service_provider %>
              </div>

              <!--<div class="field">
                <%= f.label :service_provider_id %>
                <%= f.text_field :service_provider_id %>
              </div>-->

              <div class="actions" id="submit_button">
                <%= f.submit %>
              </div>
          <% end %>

        </div><!-- end list-group-item -->
      </div><!-- end list-group -->
    </div><!-- end col-sm-4 -->

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Photographer :: Bipin</h3>
        </div><!-- end panel-heading -->
        <%= image_tag("application/bipin-200x200.jpg", :alt =>"Wedding Event", :class =>"img-circle") %>
        <p></p>
        <p align="center">"Photos are windows to past. Make every moments of your past memorable by hiring the right photographer"</p>
      </div><!-- end panel -->
    </div><!-- end col-sm-4 -->
  </div><!-- end row -->
</div><!-- end profile_container -->













