<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Service date:</strong>
  <%= @event_order_detail.service_date %>
</p>

<p>
  <strong>Service start time:</strong>
  <%= @event_order_detail.service_start_time %>
</p>

<p>
  <strong>Service end time:</strong>
  <%= @event_order_detail.service_end_time %>
</p>

<p>
  <strong>Function:</strong>
  <%= @event_order_detail.function %>
</p>

<p>
  <strong>Service location:</strong>
  <%= @event_order_detail.service_location %>
</p>

<p>
  <strong>Service setup requirements:</strong>
  <%= @event_order_detail.service_setup_requirements %>
</p>

<p>
  <strong>Event order:</strong>
  <%= @event_order_detail.event_order %>
</p>

<p>
  <strong>Service:</strong>
  <%= @event_order_detail.service %>
</p>

<p>
  <strong>Service provider:</strong>
  <%= @event_order_detail.service_provider %>
</p>

<%#= link_to 'Edit', edit_event_order_detail_path(@event_order_detail) %>
<%#= link_to 'Back', event_order_details_path %>
-->
