<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Rfq issue date:</strong>
  <%= @quotation.rfq_issue_date %>
</p>

<p>
  <strong>Rfq closing date:</strong>
  <%= @quotation.rfq_closing_date %>
</p>

<p>
  <strong>Rfq contact:</strong>
  <%= @quotation.rfq_contact %>
</p>

<p>
  <strong>Frq delivery method:</strong>
  <%= @quotation.frq_delivery_method %>
</p>

<p>
  <strong>Services requested:</strong>
  <%= @quotation.services_requested %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @quotation.comments %>
</p>

<p>
  <strong>Event:</strong>
  <%= @quotation.event %>
</p>

<%#= link_to 'Edit', edit_quotation_path(@quotation) %>
<%#= link_to 'Back', quotations_path %>
-->

<!--<div class="container" id="quotation_show_container">
  <div class="page-header">
    <h1> Request For Quotes </h1>
  </div>

  <div class="row" id="features">
    <div class="col-sm-3">

    </div>

    <div class="col-sm-6">
      <% @quotations.each do |quotation| %>
          <div class="table-responsive">
            <hr>
            <table class="table">
              <tbody>
              <tr class="success">
                <td> <strong>Event ID:</strong></td>
                <td><em><%= quotation.event_id %></em></td>
                <td> <strong>Delivery of Quote:</strong></td>
                <td><em><%= quotation.rfq_delivery_method %></em></td>
              </tr>

              <tr class="danger">
                <td> <strong>RFQ Issue Date:</strong></td>
                <td><em><%= quotation.rfq_issue_date %></em></td>
                <td> <strong>RFQ Closing Date:</strong></td>
                <td><em><%= quotation.rfq_closing_date %></em></td>
              </tr>

              <tr class="info">
                <td><strong>RFQ Contact:</strong></td>
                <td><em><%= quotation.rfq_contact %></em></td>
                <td></td><td></td>
              </tr>
              <tr class="danger">
                <td><strong>Service Requested:</strong></td>
                <td></td><td></td><td></td>
                <% @services = quotation.services_requested.split(',').each {|element | p element }%>
                <% @services.each do |service| %>
                  <tr class="success">
                    <td></td>
                    <td><strong><em><%= service%></em></strong></td>
                    <td></td><td></td>
                  </tr>
              <% end %>

              </tr>
              <tr class="info">
                <td><strong>Remarks:</strong></td>
                <td><em><%= quotation.comments %></em></td><td></td><td></td>
              </tr>
              </tbody>
            </table>
            <hr>
            <%#= link_to 'Show', event_quotation_path(@event,quotation) %>
            <%#= link_to 'Edit', edit_event_quotation_path(@event,quotation) %>
            <%#= link_to 'Destroy', event_quotation_path(@event,quotation), method: :delete, data: { confirm: 'Are you sure?' } %>
            <hr>
          </div>
      <% end %>
    </div>
    <div class="col-sm-3">

    </div>
  </div>
</div>-->


<!--
<div class="container">
  <div class="row">
    <div class="page-header">
      <h2> <%#= link_to 'Go Back', user_host_events_path(@user,@event.host_id), :class => 'btn btn-large btn-info' %></h2>
    </div>
  </div>
</div>-->
