

<%= form_for [@event, @reservation] do |f| %>
    <% if @reservation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

          <ul>
            <% @reservation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name,:class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name,:class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email,:class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :complete_address %>
      <%= f.text_field :complete_address,:class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :primary_phone %>
      <%= f.text_field :primary_phone,:class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :attending_event %>
      <%= f.check_box :attending_event,:class => 'form-control' %>
    </div>

    <br>
    <div class="form-group">
      <%= f.label :total_attending %>
      <%= f.number_field :total_attending %>
    </div>

    <% if ((! @event_menu_items.empty?) && (@event_menu.service_type !='buffet')) %>

        <div class="food_choice">
          <p>Please, make only 1 food selection for each guest<br>
            (Enter number of entree required in the corresponding box)</p>

          <% @event_menu_items.each do |item|%>

              <%@label_name = item.name%>

              <div class="control-group">
                <%= f.label @label_name, :class => 'control-label' %>
                <div class="controls">
                  <%#= f.number_field :total_attending,:class => 'form-control' %>
                  <%= number_field_tag @label_name %>
                </div>
              </div><br>

          <%end%>

          <br>
          <div class="form-group">
            <%= f.label :kids_meal_required %>
            <%= f.number_field :kids_meal_required, :value => 0,:class => 'form-control' %>
          </div>

        </div>

    <%end%>



    <br>
    <div class="field">
      <%= f.label :need_paper_invitation %>
      <%= f.check_box :need_paper_invitation%>

      <%= f.label :food_allergies %>
      <%= f.check_box :food_allergies %>

    </div>


    <!-- <div class="form-group">
                <%= f.label :food_allergies %>
    <%= f.check_box :food_allergies,:class => 'form-control' %>
              </div>-->

    <br>
    <div class="form-group">
      <%= f.label :special_notes %>
      <%= f.text_area :special_notes, placeholder: 'Please enter any special notes such as food allergies information here',:class => 'form-control' %>
    </div>

    <!--<div class="field">
                <%= f.label :event_id %>
    <%= f.text_field :event_id %>
              </div>-->

    <div class="hidden">
      <%= hidden_field_tag 'event_id', @event.id %>
    </div>

    <br>

    <div class="actions">
      <p align="middle"><%= f.submit %></p>
    </div>
<% end %>




<!--<div class="container" id="reservations_container">
  <div class="row">
    <div class="col-sm-4 feature">
    </div>&lt;!&ndash; end panel &ndash;&gt;
    </div>&lt;!&ndash; end col-sm-4 &ndash;&gt;

    <div class="col-sm-4">
      <div class="list-group">
        <div class="list-group-item">
          <%= form_for [@event, @reservation] do |f| %>
              <% if @reservation.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

                    <ul>
                      <% @reservation.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="form-group">
                <%= f.label :first_name %>
                <%= f.text_field :first_name,:class => 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :last_name %>
                <%= f.text_field :last_name,:class => 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :email %>
                <%= f.text_field :email,:class => 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :complete_address %>
                <%= f.text_field :complete_address,:class => 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :primary_phone %>
                <%= f.text_field :primary_phone,:class => 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :attending_event %>
                <%= f.check_box :attending_event,:class => 'form-control' %>
              </div>

              <br>
              <div class="form-group">
                <%= f.label :total_attending %>
                <%= f.number_field :total_attending %>
              </div>

              <% if ((! @event_menu_items.empty?) && (@event_menu.service_type !='buffet')) %>

                  <div class="food_choice">
                    <p>Please, make only 1 food selection for each guest<br>
                      (Enter number of entree required in the corresponding box)</p>

                    <% @event_menu_items.each do |item|%>

                        <%@label_name = item.name%>

                        <div class="control-group">
                          <%= f.label @label_name, :class => 'control-label' %>
                          <div class="controls">
                            <%#= f.number_field :total_attending,:class => 'form-control' %>
                            <%= number_field_tag @label_name %>
                          </div>
                        </div><br>

                    <%end%>

                    <br>
                    <div class="form-group">
                      <%= f.label :kids_meal_required %>
                      <%= f.number_field :kids_meal_required, :value => 0,:class => 'form-control' %>
                    </div>

                  </div>

              <%end%>



              <br>
              <div class="field">
                <%= f.label :need_paper_invitation %>
                <%= f.check_box :need_paper_invitation%>

                <%= f.label :food_allergies %>
                <%= f.check_box :food_allergies %>

              </div>


             &lt;!&ndash; <div class="form-group">
                <%= f.label :food_allergies %>
                <%= f.check_box :food_allergies,:class => 'form-control' %>
              </div>&ndash;&gt;

              <br>
              <div class="form-group">
                <%= f.label :special_notes %>
                <%= f.text_area :special_notes, placeholder: 'Please enter any special notes such as food allergies information here',:class => 'form-control' %>
              </div>

              &lt;!&ndash;<div class="field">
                <%= f.label :event_id %>
                <%= f.text_field :event_id %>
              </div>&ndash;&gt;

              <div class="hidden">
                <%= hidden_field_tag 'event_id', @event.id %>
              </div>

              <br>

              <div class="actions">
                <p align="middle"><%= f.submit %></p>
              </div>
          <% end %>

        </div>&lt;!&ndash; end list-group-item &ndash;&gt;
      </div>&lt;!&ndash; end list-group &ndash;&gt;
    </div>&lt;!&ndash; end col-sm-4 &ndash;&gt;

    <div class="col-sm-4">
      <div class="panel panel-default">

    </div>&lt;!&ndash; end col-sm-4 &ndash;&gt;
  </div>&lt;!&ndash; end row &ndash;&gt;
</div>&lt;!&ndash; end confirmation_container &ndash;&gt;-->




