<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @reservation.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @reservation.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reservation.email %>
</p>

<p>
  <strong>Complete address:</strong>
  <%= @reservation.complete_address %>
</p>

<p>
  <strong>Primary phone:</strong>
  <%= @reservation.primary_phone %>
</p>

<p>
  <strong>Attending event:</strong>
  <%= @reservation.attending_event %>
</p>

<p>
  <strong>Total attending:</strong>
  <%= @reservation.total_attending %>
</p>

<p>
  <strong>Food choice:</strong>
  <%= @reservation.food_choice %>
</p>

<p>
  <strong>Kids meal required:</strong>
  <%= @reservation.kids_meal_required %>
</p>

<p>
  <strong>Need paper invitation:</strong>
  <%= @reservation.need_paper_invitation %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @reservation.boolean %>
</p>

<p>
  <strong>Food allergies:</strong>
  <%= @reservation.food_allergies %>
</p>

<p>
  <strong>Special notes:</strong>
  <%= @reservation.special_notes %>
</p>

<p>
  <strong>Event:</strong>
  <%= @reservation.event %>
</p>

<%#= link_to 'Edit', edit_reservation_path(@reservation) %>
<%#= link_to 'Back', reservations_path %>
-->
